<section class="people">
  <div class="lead">
    <h1>People</h1>
    <p>The research group Participation, Opportunities, Structures consists of three faculty members affiliated with the Department of Sociology, a group of senior and junior researchers and several affiliated members.</p>
  </div>
  <h2>Current Researchers</h2>
  <div class="members">
    <%= render partial: "researcher", collection: @current_researchers, as: :researcher %>
  </div>
  <% if (@past_researchers.size > 0) %>
    <h2>Past Researchers</h2>
    <div class="members">
      <%= render partial: "researcher", collection: @past_researchers, as: :researcher %>
    </div>
  <% end %>
</section>
