<section class="people">
  <div class="lead">
    <h1>People</h1>
    <p>The Centre for Higher Education Governance Ghent is led by prof. Jeroen Huisman and employs seven researchers and has several affiliate members.</p>
  </div>
  <h2>Current Researchers</h2>
  <div class="members">
    <%= render partial: "researcher", collection: @current_researchers, as: :researcher %>
  </div>
  <% if (@past_researchers.size > 0) %>
    <h2>Past Researchers</h2>
    <div class="members">
      <%= render partial: "researcher", collection: @past_researchers, as: :researcher %>
    </div>
  <% end %>
</section>
