$link = $("#research_project_<%= @research_project.id %>"); 
$link.text("<%= toggle_active(@research_project) %>");
if ($link.text() == "Close") {
  $(".messages").empty().append("<p class='notice'>The research project is now active</p>");
}
  else {
    $(".messages").empty().append("<p class='notice'>The research project is now closed</p>");
}
