<h1>Research Projects</h1>
<%= link_to "Add Research Project", new_admin_research_project_path %>
<ul>
<% @research_projects.each do |project| %>
  <li><%= link_to project.title, admin_research_project_path(project) %></li>
<% end %>
</ul>
