<section class="publications">
    <div class="documents">
      <div class="breadcrumbs">
        <a href="/publications">Publications</a>
        <a href="/series">POS+ Publication Series</a>
        <a href="javascript:void(0)">Archive</a>
      </div>
      <h1>POS+ Publication Series Archive</h1>
      <h2><%= @year %></h2>
      <% if @archived_publications.any? { |p| p.category.name == "working_paper" } %>
      <section class="series">
        <h2>Working Papers</h2>
        <ul>
          <%= render partial: "publication", collection: @archived_publications, locals: { category: "working_paper" } %>
        </ul>
      </section>
      <% end %>
      <% if @archived_publications.any? { |p| p.category.name == "technical report"  } %>
        <section class="series">
          <h2>Technical Reports</h2>
          <ul>
            <%= render partial: "publication", collection: @archived_publications, locals: { category: "technical report" } %>
          </ul>
        </section>
      <% end %>
    </div>
    <aside class="archive">
      <ul>
      <h2>Archive</h2>
      <% @publications_year.each do |year, pubs| %>
        <li><i class="fa fa-folder left"></i><%= link_to year, archive_path(year) %></a>
      </li>
      <% end %>
      </ul>
    </aside>
</section>
<script>
$(document).ready(function () {
  $('.documents, .archive').matchHeight();
});
</script>


