<section class="publications">
  <h1>Publications</h1>
  <div class="publication-series">
    <h2>POS+ Publications Series</h2>
    <p>Chronological list of working papers and technical reports with possibility to download</p>
    <p><%= link_to "Go to POS+ Publication Series", series_path %></p>
</div>
  <div class="publication-list">
  <h2>Publication List</h2>
  <iframe src="https://biblio.ugent.be/publication?embed=1&q=author+any+%22801001046748+801000461819+801001426866+801001806681+801001484056+802001245777+802000876874+802000390157+000100313558+802001377133+802000963265+802000188275+802000557077+802000138462+801000829207+801001877211+802000362673+802000300736%22+or+(type+exact+bookEditor+and+editor+any+%22801001046748+801000461819+801001426866+801001806681+801001484056+802001245777+802000876874+802000390157+000100313558+802001377133+802000963265+802000188275+802000557077+802000138462+801000829207+801001877211+802000362673+802000300736%22)&amp;hide_info=1&amp;hide_options=1"
     width="100%"
     height="400"
     allowtransparency="true"
     frameborder="0">
    </iframe>
  </div>
</section>

