$link = $("#researcher_<%= @researcher.id %>");
$link.text("<%= toggle_visibility(@researcher) %>");
if ($link.text() == "Hide") {
  $(".messages").empty().append("<p class='notice'>The researcher <%= @researcher.name %> is now visible</p>");
}
  else {
    $(".messages").empty().append("<p class='notice'>The researcher <%= @researcher.name %> is now hidden</p>");
}

