<footer class="footer-2">
  <div class="footer-logo">
    <%= image_tag 'logo-ugent-small.png' %>
  </div>
    <ul>
      <li><a href="javascript:void(0)">&copy <%= Time.now.year %> UGent</a></li>
      <li><%= link_to "About", pages_about_path %></li>
      <li><%= link_to "Contact", pages_contact_path %></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="http://www.ugent.be/en/disclaimer">Disclaimer</a></li>
      </ul>
    </div>
  </footer>
