<header class="navigation">
  <div class="menu-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Home", home_path %></li>
        <li class="nav-link"><a href="/about.html">About Us</a></li>
        <li class="nav-link"><%= link_to "People", people_path %></li>
        <li class="nav-link"><%= link_to "Research", research_index_path %></li>
        <li class="nav-link"><a href="/publications.html">Publications</a></li>
        <li class="nav-link"><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="">
          </button>
        </div>
      </div>
      <% if current_user_admin? %>
        <%= link_to "Admin", admin_path, class: "sign-up" %>
      <% end %>
    </div>
  </div>
</header>

