<section class="about">
  <h1>About POS+</h1>
  <article data-mh="row1" class="about">
    <h2>Mission Statement</h2>
    <p>The research group Participation, Opportunities, Structures consists of three faculty members affiliated with the Department of Sociology, a group of senior and junior researchers and several affiliated members.</p>
    <p>Employing a wide range of methods, theoretical frameworks and sociological disciplines—from political sociology to ethnic studies and cultural sociology—POS+ studies the relation between various forms of participation and structural characteristics at the macro- as well as on the meso- and micro-levels. Recent macro-social transformations and processes, such as the evolutions towards a post-modern, post-industrial and globalized society characterized by an increasing individualization, a weakening of traditional community life, a (presumed) lowering of social capital, etc., encourages sociologists to reflect about how traditional forms of societal participation are gradually replaced by more post-modern forms of participation.</p>
 <p>The goal of the research group is to undertake and stimulate research within this research domain, by, among others:</p>
 <ul>
   <li>Combining and coordinating of research activities within the research domain;</li>
   <li>The development of a research infrastructure that supports and facilitates research in this domain;</li>
   <li>The development of expertise in this domain within the Department of Sociology;</li>
   <li>The coordination of applications for research funding in this research domain;</li>
   <li>Dissemination of research results to both the scientific community and society at large;</li>
   <li>The promotion of collaboration with researchers in other disciplines;</li>
   <li>Development of research methodologies for this research domain; and</li>
   <li>Development and maintenance of contacts with other researcher in this domain</li>
 </ul>
  </article>
  <aside data-mh="row1">
    <h2>Affiliated Research Groups</h2>
    <%= render partial: "researchgroup", collection: @researchgroups %>
  </aside>
</section>

