<section class="data">
  <h1>Data</h1>
  <% @publications.each do |publication| %>
    <% if publication.documents.any? %>
    <article class="publication">
      <p><%= sanitize publication.body, tags: %w(strong i) %></p>
      <% publication.documents.in_groups_of(3, false) do |dataset| %>
        <div class="dataset">
          <h2>Datasets</h2>
          <ul>
            <% dataset.each do |document| %>
              <li><%= link_to File.basename(document.file.url), document.file.url %><i class="fa fa-download right"></i><br />
                <% if document.description.present? %>
                  (<%= document.description %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
       <% end %>
       </article>
     <% end %>
  <% end %>
</section>
