$link = $("#news_item_<%= @news_item.id %>");
$link.text("<%= toggle_visibility(@news_item) %>");
if ($link.text() == "Hide") {
  $(".messages").empty().append("<p class='notice'>The news item is now visible</p>");
}
  else {
    $(".messages").empty().append("<p class='notice'>The news item is now hidden</p>");
}
