<section class="home">
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>POS Plus Static prototype</h1>
        <p>A few reasons why this product is worth using, who is it for and why do they need it.</p>	
      </div>
      <button>Learn More</button>
    </div>
  </div>
  <div class="news">
    <div class="news-inner">
      <h2>News</h2>
      <p>17-06-2014 <a href="#">News title</a><br />
      news summary
      </p>
      <p>17-06-2014 <a href="#">News title</a><br />
      news summary
    </div>
  </div>
  <div class="research">
  <div class="bullets">
    <div class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
  " alt="">
      </div>
      <div class="bullet-content">
        <h2>This Bullet Title</h2>
        <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
        <p><a href="#">Go to projects</a></p>
      </div>
    </div>  
    <div class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Another Bullet Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
        <p><a href="#">Go to projects</a></p>
      </div>
    </div>
  </div>
  </div>
</section>

