<section class="home">
  <div class="hero block">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>POS+ Participation, Opportunities, Structures</h1>
        <p>The research group Participation, Opportunities, Structures studies processes of social in- and exclusion at various levels of social organization. Macro-level processes of transformation do affect the everyday lives of people around the world.</p><p>Traditional institutions and behaviors increasingly come under pressure and people need to redefine their participation in various domains of life. The research group combines perspectives in its research insights and approaches from political, cultural, structural and comparative sociology.</p>
      </div>
      <form action="pages/about" method="get">
      <button>Learn More</button>
    </form>
    </div>
  </div>
  <div class="news block">
    <div class="news-inner">
      <h2>News</h2>
      <%= render partial: "newsitem", collection: @newsitems %>
    </div>
  </div>
  <div class="research">
    <div class="bullets">
      <div class="bullet">
        <div class="bullet-icon bullet-icon-1">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
    " alt="">
        </div>
        <div class="bullet-content">
          <h2>Research Themes</h2>
          <%= render partial: "researchtheme", collection: @researchthemes %>
        </div>
      </div>  
          
      <div class="bullet">
        <div class="bullet-icon bullet-icon-2">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
        </div>
        <%= render partial: "feature", collection: @features %>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>
  <script>
  $(document).ready(function () {
    $('.bullet').matchHeight();
    $('.block').matchHeight();
  });
  </script>
<% end %>
