<% breadcrumb :research_themes %>
<h1>Manage Research Themes</h1>
<%= button_to 'Add Research Theme', new_admin_research_theme_path, method: "get" %>
<table class="table-borders">
  <tbody>
    <% if @research_themes.count != 0 %>
      <% @research_themes.each do |theme| %>
        <tr>
          <td><%= link_to theme.title, admin_research_theme_path(theme) %></td>
          <td><%= link_to "Edit", edit_admin_research_theme_path(theme) %>&nbsp;&nbsp;<%= link_to "Delete", admin_research_theme_path(theme), method: :delete, data: { confirm: "Are you sure?" } %></td></tr>
      <% end %>
    <% else %>
      <p class="no-items">There are no research themes. Click 'Add Research Theme' to create one.</p>     
    <% end %>
    </tbody>
  </table>
