<% breadcrumb :research_theme, @research_theme %>
<div class="panel">
  <div class="content">
    <h1><%= @research_theme.title %></h1>
    <p><%= @research_theme.description %></p>
    <section>
      <h3>Research Projects</h3>
      <ul>
        <% @research_theme.research_projects.each do |project| %>
          <li><%= link_to project.title, admin_research_project_path(project) %></li>
        <% end %>
      </ul>
    </section>
  </div>
  <%= image_tag @research_theme.image.url %>
</div>
