section.search {


  h1 {
    margin-bottom: em(15);
  }

  ul {
    margin-top: em(20);

    @include media($medium-screen) {
      @include span-columns(8);
    }
  }

  li {
    list-style-type: disc;
    margin-bottom: em(15);
  }
}
