$link = $("#publication_<%= @publication.id %>");
$link.text("<%= toggle_visibility(@publication) %>");
if ($link.text() == "Hide") {
  $(".messages").empty().append("<p class='notice'>The publication is now visible</p>");
}
  else {
    $(".messages").empty().append("<p class='notice'>The publication is now hidden</p>");
}
