<% breadcrumb :publication, @publication %>
<div class="panel">
  <div class="content">
    <section>
      <h3>Publication</h3>
      <p><%= @publication.title %></p>
    </section>
    <section>
      <h3>Reference</h3>
      <p><%= @publication.reference %></p>
    </section>
    <% if @publication.research_projects.any? %>
      <section>
        <h3>Research Project</h3>
        <ul>
          <% @publication.research_projects.each do |project| %>
            <li><%= link_to project.title, admin_research_project_path(project) %></li>
          <% end %>
        </ul>
      </section>
    <% end %>
  </div>
</div>
