<section class="researchthemes">
  <div class="bullets">
    <%= render partial: "researchtheme", collection: @researchthemes %>
  </div>
</section>

<% content_for :javascript do %>
  <script>
  $(document).ready(function () {
    $('.bullet').matchHeight();
  });
  </script>
<% end %>
